 * {
     box-sizing: border-box;
 }
body {
    font-family: "Roboto", sans-serif;
    
}
.header {
    background-image: url("1669524168507.jfif");;
    padding-top: 12px;
    border-bottom: 4px solid #3596F5;
    padding-bottom: 12px;
}
